html {
    height: 100%;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

body {
    background-color: #FBA666;
    background-color: #D57A2B;
    background-color: #6D2608;
    ;
    /* background-color: #563232; */

    display: flex;
    flex-flow: column;
    /* gap: 20px; */
}

/* HEADER */

header {
    height: 15%;
    padding: 25px;
    background-color: #6D2608;
    background-color: #D57A2B;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title {
    font-size: 4rem;
    font-weight: 700;
    /* padding: 20px; */
}


/* MAIN */

main {
    height: 100%;
    padding: 25px 0;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(350px, 1fr)); */
    gap: 25px;
    justify-items: center;
    align-items: center;
    
}

/* BOOK CARDS */

main  .book-card {
    height: min(350px);
    width: min(500px);
    padding: 15px;
    background-color: #ffd0ac;
    border-left: 10px solid #271111;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

    display: grid;
    /* grid-template-columns: repeat(3, 1fr) repeat(2, 0.25fr); */
    grid-template-rows: minmax(48px, 1fr) repeat(4, minmax(29px, 0.7fr)) 3.3fr;

    transition: 0.5s;
}

main .book-card:hover {
    transform: scale(1.1);
}

main #add-book-btn {
    height: 350px;
    width: 500px;
    background-color: #6D2608;
    color: #ffd0ac;
    font-size: 3rem;
    border: 25px dashed #ffd0ac;
    border-radius: 30px;

    transition: 0.5s;
}

div .title {
    color: #271111;
    font-size: 2rem;
    font-weight: 700;

    justify-self: center;
}

div .book-authors {
    color: #271111;
    justify-self: center;
}

.status,
.pg-count,
.rating,
.description .description-text {
    color: #6D2608;
    text-decoration: underline;
}

.description {
    overflow: auto;
}

.book-buttons {
    margin-top: 20px;
    justify-self: end;
    display: flex;
    gap: 25px;
}

.book-buttons button {
    background-color: inherit;
    outline: none;
    border: none;
}

/* NEW BOOK FORM */

#book-form {
    background-color: #ffd0ac;
    height: 800px;
    width: 450px;
    border-radius: 30px;
    border-left: 10px solid #271111;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    position: absolute;
    top: calc(50% - 350px);
    left: calc(50% - 225px);

    display: flex;
    flex-flow: column;
    gap: 25px;
    align-items: center;


    transform: scale(0.1);
    transition: 0.5s;
    /* display: none; */
    /* transform: translate(50%, 50%); */
    visibility: hidden;
}

#book-form.open-form {
    visibility: visible;
    transform: scale(1);
}

#book-form .form-header {
    height: 20%;
    width: 80%;
    font-size: 4rem;
    font-weight: 700;
    color: #271111;
    border: 5px solid #271111;
    margin-top: 25px;
    
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#book-form .input-area {
    width: 90%;

    display: flex;
    flex-flow: column;
    gap: 20px;
}

.form-row {
    font-size: 1.1rem;
    display: flex;
    flex-flow: column;
}

input,
textarea {
    line-height: 1.3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 2px solid #271111;
    background-color: #FBA666;
    resize: none;
}

#book-form .buttons {
    margin-bottom: 25px;
    display: flex;
    gap: 50px;
}

#book-form button {
    width: 95px;
    height: 35px;
    color: antiquewhite;
    background-color: #271111;
    border: 1px solid #FBA666;
    border-radius: 17.5px;
    transition: 0.5s;
}